<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="TMI Translation">
            <directory>tests</directory>
            <exclude>tests/AbstractBaseTest.php</exclude>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <listeners>
        <listener class="TMI\TranslationBundle\Test\DatabaseSetupListener" />
    </listeners>
    <php>
        <server name="KERNEL_CLASS" value="TMI\TranslationBundle\Test\TestKernel"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="zend.enable_gc" value="1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak_vendors" />
    </php>
</phpunit>
