services:
    # ----------------------------
    # Default service configuration
    # ----------------------------
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # ----------------------------
    # Utility Services
    # ----------------------------
    tmi_translation.utils.attribute_helper:
        class: Tmi\TranslationBundle\Utils\AttributeHelper

    # ----------------------------
    # Cache Service
    # ----------------------------
    Tmi\TranslationBundle\Translation\Cache\InMemoryTranslationCache: ~

    Tmi\TranslationBundle\Translation\Cache\TranslationCacheInterface:
        alias: Tmi\TranslationBundle\Translation\Cache\InMemoryTranslationCache

    Tmi\TranslationBundle\Translation\Cache\Psr6TranslationCache:
        arguments:
            $cachePool: '@cache.app'

    # ----------------------------
    # Type Default Resolver
    # ----------------------------
    Tmi\TranslationBundle\Translation\TypeDefaultResolver: ~

    # ----------------------------
    # Entity Translator
    # ----------------------------
    Tmi\TranslationBundle\Translation\EntityTranslator:
        arguments:
            $defaultLocale: '%tmi_translation.default_locale%'
            $locales: '%kernel.enabled_locales%'
            $copySource: '%tmi_translation.copy_source%'
            $eventDispatcher: '@event_dispatcher'
            $attributeHelper: '@tmi_translation.utils.attribute_helper'
            $typeDefaultResolver: '@Tmi\TranslationBundle\Translation\TypeDefaultResolver'
            $cache: '@Tmi\TranslationBundle\Translation\Cache\TranslationCacheInterface'
            $logger: '@?logger'

    tmi_translation.translation.entity_translator:
        alias: Tmi\TranslationBundle\Translation\EntityTranslator

    # ----------------------------
    # Translation Handlers
    # ----------------------------
    Tmi\TranslationBundle\Translation\Handlers\PrimaryKeyHandler:
        arguments:
            - '@tmi_translation.utils.attribute_helper'
        tags: [ { name: tmi_translation.translation_handler, priority: 100 } ]

    Tmi\TranslationBundle\Translation\Handlers\ScalarHandler:
        tags: [ { name: tmi_translation.translation_handler, priority: 90 } ]

    Tmi\TranslationBundle\Translation\Handlers\EmbeddedHandler:
        arguments:
            - '@tmi_translation.utils.attribute_helper'
            - '@Tmi\TranslationBundle\Translation\TypeDefaultResolver'
        tags: [ { name: tmi_translation.translation_handler, priority: 80 } ]

    Tmi\TranslationBundle\Translation\Handlers\BidirectionalManyToOneHandler:
        arguments:
            - '@tmi_translation.utils.attribute_helper'
            - '@doctrine.orm.entity_manager'
            - '@property_accessor'
            - '@Tmi\TranslationBundle\Translation\EntityTranslator'
        tags: [ { name: tmi_translation.translation_handler, priority: 70 } ]

    Tmi\TranslationBundle\Translation\Handlers\BidirectionalOneToManyHandler:
        arguments:
            - '@tmi_translation.utils.attribute_helper'
            - '@Tmi\TranslationBundle\Translation\EntityTranslator'
            - '@doctrine.orm.entity_manager'
        tags: [ { name: tmi_translation.translation_handler, priority: 60 } ]

    Tmi\TranslationBundle\Translation\Handlers\BidirectionalOneToOneHandler:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@property_accessor'
            - '@tmi_translation.utils.attribute_helper'
        tags: [ { name: tmi_translation.translation_handler, priority: 50 } ]

    Tmi\TranslationBundle\Translation\Handlers\BidirectionalManyToManyHandler:
        arguments:
            - '@tmi_translation.utils.attribute_helper'
            - '@doctrine.orm.entity_manager'
            - '@Tmi\TranslationBundle\Translation\EntityTranslator'
        tags: [ { name: tmi_translation.translation_handler, priority: 40 } ]

    Tmi\TranslationBundle\Translation\Handlers\UnidirectionalManyToManyHandler:
        arguments:
            - '@tmi_translation.utils.attribute_helper'
            - '@Tmi\TranslationBundle\Translation\EntityTranslator'
            - '@doctrine.orm.entity_manager'
        tags: [ { name: tmi_translation.translation_handler, priority: 30 } ]

    Tmi\TranslationBundle\Translation\Handlers\TranslatableEntityHandler:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Tmi\TranslationBundle\Translation\Handlers\DoctrineObjectHandler'
        tags: [ { name: tmi_translation.translation_handler, priority: 20 } ]

    Tmi\TranslationBundle\Translation\Handlers\DoctrineObjectHandler:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Tmi\TranslationBundle\Translation\EntityTranslator'
            - '@?property_accessor'
        tags: [ { name: tmi_translation.translation_handler, priority: 10 } ]

    # ----------------------------
    # Twig Extension
    # ----------------------------
    Tmi\TranslationBundle\Twig\TmiTranslationExtension:
        arguments:
            - '%kernel.enabled_locales%'
        tags: [ { name: twig.extension } ]

    # ----------------------------
    # Kernel Event Subscriber
    # ----------------------------
    Tmi\TranslationBundle\EventSubscriber\LocaleFilterConfigurator:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $disabledFirewalls: '%tmi_translation.disabled_firewalls%'
            $firewallMap: '@?security.firewall.map'
        tags: [ { name: kernel.event_subscriber } ]

    # ----------------------------
    # Doctrine Event Subscriber
    # ----------------------------
    Tmi\TranslationBundle\Doctrine\EventSubscriber\TranslatableEventSubscriber:
        arguments:
            $defaultLocale: '%tmi_translation.default_locale%'
            $entityTranslator: '@Tmi\TranslationBundle\Translation\EntityTranslator'
        tags: [ { name: doctrine.event_subscriber, connection: default } ]
